@import "../../../constants.scss";

:local {
  .container {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    border-radius: $border-radius-px;

    transition: background-color 250ms ease-in-out;
    background-color: transparent;
  }

  .toggled {
    background-color: $color-bg-3;

    &:hover {
      background-color: $color-bg-3;
    }
  }
}