@import "../../../constants.scss";

:local {
  .container {
    justify-content: center;
    height: $common-height-px;
    width: $common-height-px;

    &:hover {
      background-color: $color-bg-1;
    }
  }
}