@import "../../constants.scss";

:local {
  .container {
    border-radius: $border-radius-px 0 0 $border-radius-px;
    margin-left: 6px;
    margin-top: $grid-px;
    margin-bottom: $grid-px;

    &.focused {
      background-color: $color-bg-0;
      box-shadow: inset 6px 0 0 0 black;
    }
  }

  .head {
    display: flex;

    .left {
      display: flex;
      justify-content: space-between;
      width: $animations-left-width;
      padding-left: $grid-px;
      padding-right: 6px;
    }

    .right {
      position: relative;
      flex: 1;
    }
  }

  .playheadCursor {
    z-index: 1;
    position: absolute;
    left: 0;
    width: 100%;
    top: 100%;
  }

  .tweens {}

  .tween {
    display: flex;
  }

  .tweenTimeline {
    flex: 1;
  }
}