@import "../../../constants.scss";

:local {
  .container {
    position: absolute;
    z-index: $z-index-high-priority;
  }

  .downLeft {
    top: 100%;
    left: 0;
  }

  .downLeftSide {
    bottom: 0;
    right: 100%;
  }

  .upLeft {
    bottom: 100%;
    left: 0;
  }

  .upLeftSide {
    top: 0;
    right: 100%;
  }

  .downRight {
    top: 100%;
    right: 0;
  }

  .downRightSide {
    bottom: 0;
    left: 100%;
  }

  .upRight {
    bottom: 100%;
    right: 0;
  }

  .upRightSide {
    top: 0;
    left: 100%;
  }
}