{
  "extends": [
    "plugin:prettier/recommended",
    "prettier/react",
    "prettier/standard"
  ],
  "plugins": [
    "prettier",
    "react"
  ],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true,
        "bracesSpacing": true,
        "bracketSpacing": true,
        "printWidth": 80
      }
    ]
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  }
}