@import '../../../../constants.scss';

:local {
	$head-height: $grid-px * 3;

	.container {
		padding-top: $grid-px;
		display: flex;
		justify-content: space-between;
		width: $timeline-left-width;
	}

	.definitions {
		min-width: $grid-px * 11;
	}

	.title {
		padding-left: $grid-px * 4;
	}

	.btnAddTween {
		margin-right: $grid-px;
	}
}
