@import "../../constants.scss";

:local {
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      flex: 1;
      padding-left: $grid-px * 3;
      margin-right: $grid-px;
    }

  }

  .definitions {
    // 2 column
    display: flex;
    flex-wrap: wrap;
  }

  .definition {
    width: 50%;
  }
}