@import '../../../../constants.scss';

:local {
	$btn-width: $timeline-tween-height;

	.container {
		display: flex;
		padding-left: $grid-px * 2;
		padding-right: $grid-px;
		height: $timeline-tween-height;
		width: $timeline-left-width;
	}

	.btnSmall {
		justify-content: center;
		height: $btn-width;
		width: $btn-width;
	}

	.btnDelete {
		transition: opacity 250ms ease-out;
		opacity: 1;

		&.hidden {
			cursor: initial;
			opacity: 0;
		}
	}

	.btnValue {
		flex: 1;
		margin-right: $grid-px;
		border: 1px solid transparent;

		&:hover {
			border-color: $color-border-0;
		}

		&.locked {
			cursor: initial;

			&:hover {
				border-color: transparent;
			}
		}

		&.hidden {
			cursor: initial;
			opacity: 0.3;

			&:hover {
				border-color: transparent;
			}
		}
	}
}
