@import "../../../constants.scss";

:local {
  $control-width-px: $grid-px * 14;

  .container {}

  .leftControls {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: $grid-px;
  }

  .rightControls {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .createInstance {
    width: $control-width-px;
  }

  .showGrid {
    width: $control-width-px;
  }

  .gridSize {
    width: $control-width-px;
  }


}