@import "../../../constants.scss";

:local {
  $value-width: $grid-px * 6;

  .container {
    position: relative;
    height: $common-height-px;
    border: 1px solid transparent;

    &.hasAccessory {
      padding-left: $grid-px * 3;
    }

    .clear {
      position: absolute;
      font-size: $font-size-xs;
      right: 0;
      bottom: 0;
      width: $value-width;
      height: $font-size-xs;
      text-align: center;
      background-color: $color-bg-2;
      display: none;

      &:hover {
        background-color: $color-bg-0;
      }
    }

    &:hover {
      border-color: $color-border-0;

      .clear {
        display: block;
      }
    }
  }

  .disabled {
    &:hover {
      background-color: transparent;
    }
  }

  .accessory {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }

  .label {
    flex: 1;
    text-align: right;
    font-size: $font-size-sm;
    padding-right: $grid-px;
  }

  .value {
    text-align: center;
    font-size: $font-size-sm;
    width: $value-width;
  }
}