$grid-px: 11px;
$border-radius-px: 4px;

$color-bg-0: white;
$color-bg-1: #f2f2f2;
$color-bg-2: #d2d2d2;

$color-border-0: #d0d0d0;
$color-border-1: #a1a1a1;
$color-border-2: #e2e2e2;

$timeline-left-width: 360px;