:local {
  .tweenBar {
    background-color: black;
    &:hover {
      background-color: #333333;
    }
  }

  .importCssDialog {
    width: 600px;
  }

  // apply to children too, ewww
  .monospace, .monospace * {
    font-family: Courier;
  }

  .flex1 {
    flex: 1;
  }

  .exportTextarea {
    flex: 1;
  }
}