@import "./constants.scss";

:local {
  .tweenBar {
    background-color: black;

    &:hover {
      background-color: #333333;
    }
  }

  .importCssDialog {
    width: 600px;
  }

  // apply to children too, ewww
  .monospace,
  .monospace * {
    font-family: Courier;
  }

  .flex1 {
    flex: 1;
  }

  .exportTextarea {
    flex: 1;
  }



  .btnDeleteTween {
    background-color: $color-bg-0;
    width: $grid-px * 2;

    &:hover {
      background-color: $color-bg-1;
    }
  }

  .btnExpandTween {
    flex: 1;
  }

  .btnKeyframeLock {
    background-color: $color-bg-0;
    width: $grid-px * 2;

    &:hover {
      background-color: $color-bg-1;
    }
  }
}