@import "../../constants.scss";

:local {
  .container {
    position: relative;
    background-color: $color-bg-0;
    overflow: hidden;
  }

  .instances {
    position: absolute;
  }

  .instance {
    cursor: grab;
    transition: opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &.dragging {
      cursor: grabbing;
    }

    .name {
      position: absolute;
      right: 100%;
      bottom: 100%;
      font-size: $font-size-xs;
    }
  }

  .canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

}