@import "../../constants.scss";

:local {
  .container {
    position: relative;
    background-color: $color-bg-0;
    overflow: hidden;
  }

  .canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .instances {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}