@import "../../constants.scss";

:local {
  .container {
    display: flex;
    align-items: center;
    padding: $grid-px;
    background-color: $color-bg-0;
  }

  .play,
  .pause,
  .stop {
    flex: 1;
  }

  .loop,
  .reverse {
    flex: 0; // shrink
  }
}