@import "../../constants.scss";

:local {
  .container {
    background-color: $color-bg-0;
    border: 1px solid $color-border-0;
    border-radius: $border-radius-px;
    padding-top: $grid-px;
  }

  .top,
  .bottom {
    display: flex;
  }

  .play,
  .pause,
  .stop {
    flex: 1;
  }

  .duration,
  .loop,
  .reverse {
    flex: 1;
  }
}