@import "../../constants.scss";

:local {
  .container {
    background-color: $color-bg-0;
  }

  .top,
  .bottom {
    display: flex;
  }

  .play,
  .pause,
  .stop {
    flex: 1;
  }

  .duration,
  .loop,
  .reverse {
    flex: 1;
  }
}