@import "../../../constants.scss";

:local {
  .container {
    position: relative;
    display: flex;
    align-items: center;

    &.hasAccessory {
      padding-left: $grid-px * 3;
    }
  }

  .accessory {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }

  .btnEdit {
    margin-left: $grid-px;
    visibility: visible;

    &.hidden {
      visibility: hidden;
    }
  }

  .color {
    margin-right: $grid-px;
  }

  .clickable {
    cursor: pointer;

    .title {
      transition: all 250ms ease-out;

      &:hover {
        color: $color-font-0;
      }
    }
  }

  .title,
  .title * {
    height: $common-height-px;
    line-height: $common-height-px;

    padding-left: 0;
    padding-right: 0;

    transition: all 250ms ease-out;

    // &:hover,
    // &:hover * {
    //   color: $color-font-0;
    // }

    &.expanded,
    &.expanded * {
      color: $color-font-0;
      font-size: $font-size-xl;
    }
  }
}