@import "../../../constants.scss";

:local {
  .container {
    position: relative;
    cursor: pointer;
  }

  .accessory {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }

  .title,
  .title * {
    height: $common-height-px;
    line-height: $common-height-px;

    padding-left: 0;
    padding-right: 0;

    transition: all 250ms ease-out;

    &:hover,
    &:hover * {
      color: $color-font-0;
    }

    &.expanded,
    &.expanded * {
      color: $color-font-0;
      font-size: $font-size-xl;
    }
  }
}