@import '../../constants.scss';

:local {

	.headLeft {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: $timeline-left-width + $grid-px;
		padding-left: $grid-px;
		padding-right: $grid-px;

		.btnCreateInstance {
			flex: 1;
		}

		.spacing {
			[class^='Label-label-'] {
				padding-right: 0;
				width: auto;
			}
		}
	}



	.instanceControls {
		width: $timeline-left-width;
	}

	.instanceTimeline {
		position: relative;
		flex: 1;
	}
}
