@import "../../constants.scss";

:local {
  .container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .head {
    display: flex;
    background-color: $color-bg-0;
    border-bottom: 1px solid $color-border-1;

    .left {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: $timeline-left-width;
      padding-left: $grid-px;
      padding-right: $grid-px;

      .btnCreateInstance {
        flex: 1;
      }

      .spacing {
        [class^="Label-label-"] {
          padding-right: 0;
          width: auto;
        }
      }
    }

    .right {
      position: relative;
      flex: 1;
    }
  }

  .body {
    position: relative;
    flex: 1;
    overflow-y: auto;
  }

  .instance {
    padding-top: $grid-px * 2;
    display: flex;


    .timeline {
      position: relative;
      flex: 1;
    }
  }
}