@import "../../constants.scss";

:local {
  .container {
    position: relative;
    width: $timeline-left-width;
  }

  .head {
    display: flex;
    justify-content: space-between;
    padding-right: $grid-px;
  }

  .body {}

  .row {
    display: flex;
    justify-content: space-evenly;

    .button {
      //flex: 1;
    }
  }

  .title {
    flex: 1;
  }

  .editor {
    width: 100%;
    padding: $grid-px;
    background-color: $color-bg-0;
    border-radius: $border-radius-px;
    border: 1px solid $color-border-0;
  }
}