$grid-px: 11px;

$border-radius-px: 4px;

$color-bg-0: white;
$color-bg-1: #f2f2f2;
$color-bg-2: #d2d2d2;
$color-bg-3: #e8e8e8;
$color-bg-4: #a1a1a1;

$color-border-0: #d0d0d0;
$color-border-1: #a1a1a1;
$color-border-2: #e2e2e2;

$color-font-0: black;

$font-size-xs: 9.75px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 18px;

$common-height-px: $grid-px * 3;

$animations-left-width: 340px;
$timeline-left-width: 420px;
$timeline-tween-height: $grid-px * 3;