@import "./constants.scss";

:local {
  .container {
    background-color: $color-bg-1;
    height: 100%;
    overflow: hidden;
  }

  .topLeft {
    background-color: $color-bg-0;
    width: $grid-px * 22;
    display: flex;
    flex-direction: column;

    .menu {
      display: flex;

      .menuItem {
        flex: 1;
      }
    }
  }

  .topRight {
    display: flex;
    flex-direction: column;
    padding-left: $grid-px;
    padding-right: $grid-px;

    .stage {
      flex: 1;
    }

    .mediaControls {
      margin-top: $grid-px;
    }
  }

  .bottom {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .playhead {
    border-bottom: 1px solid $color-border-0;
  }

  .timeline {
    flex: 1;
  }
}