@import "./constants.scss";

:global {

  html,
  body {
    height: 100%;
  }

  *,
  *:after,
  *:before {
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $font-size-md;
  }

  #root {
    height: 100%;
  }

  /* default is "cursor: default" */
  label {
    cursor: inherit;
  }
}