@import "./constants.scss";

:global {
  $size-px: 1px;
  $hover-size-px: 4px;
  $hover-color: $color-border-2;

  // https://github.com/tomkp/react-split-pane
  .Resizer {
    background-color: $color-border-1;
    z-index: 1;
    box-sizing: content-box;
    background-clip: padding-box;

    &:hover {
      transition: all 200ms ease;
    }

    &.horizontal {
      height: $size-px;
      cursor: row-resize;
      width: 100%;

      border-top: $hover-size-px solid transparent;
      border-bottom: $hover-size-px solid transparent;
      margin: -$hover-size-px 0;

      &:hover {
        border-top-color: $hover-color;
        border-bottom-color: $hover-color;
      }
    }

    &.vertical {
      width: $size-px;
      cursor: col-resize;

      border-left: $hover-size-px solid transparent;
      border-right: $hover-size-px solid transparent;
      margin: 0 -$hover-size-px;

      &:hover {
        border-left-color: $hover-color;
        border-right-color: $hover-color;
      }
    }

    &.disabled {
      cursor: not-allowed;

      &:hover {
        border-color: transparent;
      }
    }
  }
}