@import "../../constants.scss";

:local {

  .dialog {
    width: 600px;
  }

  .textarea,
  .textarea * {
    // apply to children too, ewww
    font-family: Courier;
  }

  .btnImport {
    flex: 1;
  }
}